.captionDiv {
    position: absolute;
    padding: 0px 0.875rem;
    cursor: move;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 1;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    text-outline: 1px black;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}